html, body {
  font-family: Roboto, sans-serif;
  color: $black;
  font-weight: 300;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 30px;
}

input {
  -webkit-appearance: none;
  @extend .remove-outline;
}
